---
import gmailBadge from '../assets/IconBadges/gmail-badge.svg'
import linkedinBadge from '../assets/IconBadges/linkedin-badge.svg'
import githubBadge from '../assets/IconBadges/github-badge.svg'

---

<section id="contact" class="m-10">
   <h1 class="text-3xl font-semibold">Contact Me!</h1>
   <p class="text-xl my-4">Have an idea or want to work together? I’d love to hear from you!</p>
   <div class="flex gap-2 justify-center ">
      <a href="mailto:rodrygoleu7@gmail.com" target="_blank"><img class="size-[115%]" src={gmailBadge.src} alt="gmail badge"></a>      
      <a href="https://www.linkedin.com/in/rodrigo-fernandez-h/" target="_blank"><img class="size-[115%]" src={linkedinBadge.src} alt="linkedin badge"></a>
      <a href="https://github.com/RodrigoAlexander7" target="_blank"><img class="size-[115%]" src={githubBadge.src} alt="github badge"></a>           
   </div>
</section>