<!-- sticky top-0 is used to fixed the position of the header 
      backdrop-blur-md give us the blur effect
-->
<header class="sticky top-0 w-full border-b border-b-gray-300  bg-slate-50/60 backdrop-blur-lg">
   <div class="flex  md:justify-between items-center py-3 px-1.5 md:px-7 w-full">
      <div class="hidden md:flex justify-center items-center h-9">
         <img class="block w-7"   src="./logo.png" alt="image-logo">
         <p class="text-[21px] p-2 block font-medium">RodrygoLeu</p>
      </div>
      <nav class="flex-1" >
         <ul class="flex flex-row justify-around md:justify-end w-full text-gray-800 md:gap-x-20 font-medium">
            <li><a href="#">About</a></li>
            <li><a href="#skills">Stack</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
         </ul>
      </nav>
   </div>
</header>